.login-background{
    background-image: url(../img/index_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    background-position: center;
    height: 101vh;
    background-blend-mode: multiply;
    
}

.login-input{
    color: black;
    background-color: rgba(0,0,0,0);
    font-family: 'Noto Sans', sans-serif;
    border-width: 3px;
    border-radius: 20px;
    /* background-color: rgba(0,0,0,0); */
    margin: 0 auto;
    display: block;
    border-color: gray;
}
.login{
    font-family: 'Noto Sans', sans-serif;
    color: black;
            
}
.login-submitbutton{
    display: block;
    color: black;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgba(0,0,0,0);
    border-width: 3px;
    border-color: gray;
    border-radius: 10px;}
.submitbutton:hover{
    transition: 0.3s;
        }
.GoToHome{
    position: relative;
    display:block;
    margin : 0 auto;
    top: 150px;
    color: black;

}