
.signup-background{
    min-height: 100vh;
    background-image: url(../img/signup_background.jpg);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}
.welcome{color: white;
    font-family: 'Noto Sans', sans-serif;
    display: block;
    text-align: center;


}

.signup_notice{
    color:white;
}

.GoToHome-signup{
    display: block;
    margin: 0 auto;
    color:white;
}

.signup_submitbutton{
    display: block;
    color: white;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgba(0,0,0,0);
    border-width: 3px;
    border-color: #a56955;
    border-radius: 10px;
    margin-top: 50px;
}