{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
<style>
</style>
{% endblock extra-style %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div>
    <h3>당신과 가까운 책을 확인하세요!</h3>
    <select>
        <option value="도서명">도서명</option>
        <option value="저자명">저자명</option>
    </select>
    <input>
    <a class="navbar-brand" href="#" style="font-size:25px;">
        <button type="button" class="btn btn-primary">
            검색하기
        </button>
    </a>
    <button type="button" class="btn">
        <a href="{% url 'openbooks:register' %}" style="font-size:25px;">
            <h2>책 등록하기</h2>
        </a>
    </button>

    책 검색 페이지
    <br/><br/>
    {% for book in ordered_books %}
        <h1 style = "color:cornflowerblue">책 고유 Code: {{book.id}}</h1>
        <p>제목: {{book.book}}</p>
        <p>상태: {{book.summary}}</p>
        <p>대출 가능 여부:{{book.rent_availability}}</p>
        <p>기부 가능 여부:{{book.donate_availability}}</p>
        <!-- <p>대출 가능 여부:{{book.rent_availability}}</p> -->
        <hr>
    {% endfor %}
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block extra-script %}
<script>
    $(function () {
        $('[data-toggle=tooltip]').tooltip();
    });
</script>
{% endblock extra-script %}