<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    책 검색 페이지

    <div>
        {% if books_ordered %}
            <ul>
                {% for book in books_ordered %}
                    <li>({{ book.location_logitude }}, {{ book.location_latitude }})</li>
            </ul>
        {% endif %}
    </div>
</body>
</html>
