{% extends 'base.html' %}
{% load static%}


{% block title %}
{% endblock %}

{% block extra-style %}

{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static login.css %}">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

        <div class="login-background">
       
        <form method="POST" actions="{% url 'accounts:login' %}">
                {%csrf_token%}
            
                <h4 class="login">아이디:</h4>
                <input class="login-input" name="username" type="text">
                <br>
                <br>
            
                <h4 class="login">비밀번호:</h4>
                <input class="login-input" name="password" type="password">
                <br>
                <br>
                <input class="login-submitbutton" type="submit" value="Login!">
                
                
                <a href="{% url 'home' %}" style="font-size:25px;">
                    <button type="button" class="GoToHome">
                        홈으로 가기
                    </button>
                </a>
            </form>
   
</div>




{% endblock %}

{% block extra-script %}
{% endblock %}