{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block extra-style %}
{% endblock %}

{% block content %}
<form method="POST" actions="{% url 'accounts:login' %}">
    {%csrf_token%}

    Username:
    <input name="username" type="text">
    <br>
    <br>

    Password:
    <input name="password" type="password">
    <br>
    <br>
    <input type="submit" value="Login!">
    
    
    <a class="navbar-brand" href="{% url 'home' %}" style="font-size:25px;">
        <button type="button" class="btn">
            홈으로 가기
        </button>
    </a>
</form>
{% endblock %}

{% block extra-script %}
{% endblock %}