{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block extra-style %}
{% endblock %}

{% block content %}
<h1>sign up!</h1>




<form actions="{% url 'accounts:signup' %}" method="POST">
    {%csrf_token%}

    Username:
    <input name="username" type="text">
    <br>
    <br>

    Password:
    <input name="password1" type="password">
    <br>
    <br>

    Confirm Password: 
    <input name="password2" type="password">
    
    <input type="submit" value="Sign Up!">
    
    

</form>
{% endblock %}

{% block extra-script %}
{% endblock %}